/* bootstrap */
.modal-backdrop.show {
    opacity: 0.2;
}

/* dialog */
.dialog_header {
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    background: rgb(73,128,181);
    color: rgb(240,240,240);
}

.dialog_body {
    padding: 15px;
    min-height: 110px;
    background: rgb(255,255,255);
}

.dialog_footer {
    padding-right: 15px;
    height: 45px;
    background: rgb(216,218,219);
}

/* loading */
#id_div_loading {
    border-radius: 4px;
    padding-left: 10px;
    position: relative;
    width: 200px;
    height: 40px;
    top: calc((100% - 40px) / 2);
    left: calc((100% - 200px) / 2);
    background: rgb(255,255,255,0.8);
}

#id_loading_image {
    float: left;
    width: 40px;
    height: 40px;
    background: url("../image/loading.gif") no-repeat center center;
}

#id_loading_text {
    float: left;
    line-height: 40px;
}

/* misc */
.button_x {
    border: none;
    padding: 0px;
    zoom: 1.2;
    background: transparent;
    color: rgb(10,10,10);
}

.button_x:hover {
    color: rgb(210,210,210);
}

.button_x:focus {
    outline: 0px;
    color: rgb(200,200,200);
}

.input_error {
    color: rgb(200,0,0);
}
