html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: inherit;
    height: inherit;   
}

.background {
    width: inherit;
    height: inherit;
    background: rgb(255,255,255);
}

.top_area {
    width: 100%;
    height: 60px;
    background: rgb(73,128,181);
}

.center_area {
    width: 100%;
    height: calc(100% - 60px - 25px);
    background: rgb(255,255,255);
}

.left_area {
    float: left;
    width: 250px;
    height: 100%;
    background: rgb(38,45,51);
}

.right_area {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    background: rgb(255,255,255);
}

.bottom_area {
    width: 100%;
    height: 25px;
    background: rgb(73,128,181);
}

.system_logo {
    float: left;
    width: 120px;
    height: 60px;
    background-image: url("../image/logo.png");
}

.system_name {
    float: left;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(240,240,240);
}

.menu_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu_item {
    display: block;
    padding: 10px;
    height: 50px;
    background: rgb(38,45,51);
    color: rgb(181,181,181);
}

.menu_item:hover {
    text-decoration: none;
    background: rgb(65,77,88);
    color: rgb(255,255,255);
}

.menu_item_active {
    background: rgb(97,148,193);
    color: rgb(255,255,255);
}

.menu_item span {
    margin-left: 5px;
}

.submenu_item {
    display: block;
    padding: 5px 26px;
    height: 34px;
    background: rgb(25,25,25);
    color: rgb(181,181,181);
}

.submenu_item:hover {
    text-decoration: none;
    color: rgb(255,255,255);
}

.submenu_item_active {
    color: rgb(255,255,255);
}

.submenu_item span {
    margin-left: 10px;
}

#module_title {
    padding-left: 15px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    background: rgb(236,238,239);
    color: rgb(100,100,100);
}

#module_content {
    padding: 20px;
    width: 100%;
    height: calc(100% - 60px);
    background: rgb(255,255,255);
}

.copyright {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: rgb(230,230,230);
}
