/* layout */
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: inherit;
    height: inherit;   
}

.background {
    width: inherit;
    height: inherit;
    background-image: url("../image/login_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login_area {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 350px;
    position: relative;
    top: calc((100% - 350px) / 2);
    left: calc((100% - 300px) / 2);
    background: rgb(255,255,255,0.8);
}

.login_title {
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(120,120,120);
}

#id_edit_account, #id_edit_password, #id_button_login {
    margin-top: 20px;
}

.input_error {
    color: rgb(200,0,0);
}
