<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{static_url('library/font-awesome-4.7.0/css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('library/bootstrap-4.5.2/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('library/bootstrap-table-1.17.1/bootstrap-table.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('library/toastr-2.1.4-7/css/toastr.min.css')}}"/>
    <script src="{{static_url('library/jquery-3.5.1/jquery-3.5.1.min.js')}}"></script>
    <script src="{{static_url('library/jquery-validation-1.19.2/jquery.validate.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-4.5.2/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-4.5.2/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-table-1.17.1/bootstrap-table.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-table-1.17.1/locale/bootstrap-table-zh-CN.js')}}"></script>
    <script src="{{static_url('library/toastr-2.1.4-7/js/toastr.min.js')}}"></script>

    <title>Mars</title>
    <link rel="shortcut icon" href="{{static_url('mars/image/favicon.ico')}}"/>
    <link rel="stylesheet" href="{{static_url('mars/css/global.css')}}"/>
    <script src="{{static_url('mars/js/common.js')}}"></script>
    <script src="{{static_url('mars/js/global.js')}}"></script>
    <script src="{{static_url('mars/js/person.js')}}"></script>
</head>

<body>
    <div class="background">
        <div class="top_area">
            <div class="system_logo">
                <img src="{{static_url('mars/image/logo.png')}}">
                <span> Mars管理系统 </span>
            </div>
        </div>
        <div class="center_area">
            <div class="left_area">
                <ul class="menu_list">
                    <li>
                        <a class="menu_item" href=""><i class="fa fa-fw fa-bars"></i> 首页 </a>
                    </li>
                    <li>
                        <a class="menu_item menu_item_active" href="person"><i class="fa fa-fw fa-bars"></i> 个人信息 </a>
                    </li>
                    <li>
                        <a class="menu_item" href=""><i class="fa fa-fw fa-bars"></i> 系统设置 </a>
                    </li>
                </ul>
            </div>
            <div class="right_area">
                <div id="module_title"></div>
                <div id="module_content"></div>
            </div>
        </div>
        <div class="bottom_area">
            <div class="copyright">
                <span> Copyright 2020 Icemoon. All rights reserved. </span>
            </div>
        </div>
    </div>
 
    <script>
        $(document).ready(function() {
            $(".menu_item").each(function() {
                if ($(this).hasClass("menu_item_active")) {
                    var module_title = $(this).text();
                    $("#module_title").html(module_title);

                    var module_name = $(this).attr("href");
                    if (module_name.length > 0) {
                        open_module(module_name);
                    } else {
                        $("#module_content").html("");
                    }

                    return false;
                }
            });

            $(".menu_item").click(function() {
                $(".menu_item").removeClass("menu_item_active");
                $(this).addClass("menu_item_active");

                var module_title = $(this).text();
                $("#module_title").html(module_title);

                var module_name = $(this).attr("href");
                if (module_name.length > 0) {
                    open_module(module_name);
                } else {
                    $("#module_content").html("");
                }

                return false;
            });

            function open_module(module_name) {
                $("#module_content").html(g_web_module[module_name].module_html);
                g_web_module[module_name].init();
            }
        });
    </script>
</body>
</html>
