<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('mars/image/favicon.ico')}}"/>
    <link rel="stylesheet" href="{{static_url('library/font-awesome-4.7.0/css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('library/bootstrap-4.5.2/css/bootstrap.min.css')}}"/>
    <script src="{{static_url('library/jquery-3.5.1/jquery-3.5.1.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-4.5.2/js/bootstrap.min.js')}}"></script>

    <title>Mars</title>
    <link rel="stylesheet" href="{{static_url('mars/css/global.css')}}"/>
    <script src="{{static_url('mars/js/global.js')}}"></script>
    <script src="{{static_url('mars/js/login.js')}}"></script>
</head>

<body>
    <div class="container-fiuled">
        <div class="top-area">
        </div>
        <div class="left-area">
            <ul class="menu-list">
                <li>
                    <a class="menu-item menu-item-active" href="#"><i class="fa fa-fw fa-bars"></i><span> 首页 </span></a>
                </li>
                <li>
                    <a class="menu-item" href="#"><i class="fa fa-fw fa-bars"></i><span> 用户管理 </span></a>
                </li>
                <li>
                    <a class="menu-item" href="#"><i class="fa fa-fw fa-bars"></i><span> 系统设置 </span></a>
                </li>
            </ul>
        </div>
        <div class="right-area">
        </div>
    </div>
 
    <script>
        $(document).ready(function() {
            console.log("document is ready");

            $(".menu-item").click(function () {
                $(".menu-item").removeClass("menu-item-active");
                $(this).addClass("menu-item-active");
            });

        });
    </script>
</body>
</html>
