<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{static_url('library/bootstrap-4.5.2/css/bootstrap.min.css')}}"/>
    <script src="{{static_url('library/jquery-3.5.1/jquery-3.5.1.min.js')}}"></script>
    <script src="{{static_url('library/bootstrap-4.5.2/js/bootstrap.min.js')}}"></script>

    <title>Mars - 用户登录</title>
    <link rel="shortcut icon" href="{{static_url('mars/image/favicon.ico')}}"/>
    <link rel="stylesheet" href="{{static_url('mars/css/login.css')}}"/>
</head>

<body>
    <div class="background">
        <div class="login_area">
            <div class="login_title">
                <span>欢迎登录</span>
            </div>
            <form id="id_form_login">
                <div class="form-group">
                    <input id="id_edit_account" class="form-control" type="text" placeholder="账号">
                    <span id="id_error_account" class="input_error"></span>
                    <input id="id_edit_password" class="form-control" type="password" placeholder="密码">
                    <span id="id_error_password" class="input_error"></span>
                </div>
                <button id="id_button_login" class="btn btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#id_form_login").submit(function() {
                var account = $("#id_edit_account").val();
                var password = $("#id_edit_password").val();

                $("#id_error_account").empty();
                $("#id_error_password").empty();

                if (account.trim().length == 0) {
                    $("#id_error_account").text("请输入账号");
                    $("#id_edit_account").focus();
                    return false;
                }

                if (password.trim().length == 0) {
                    $("#id_error_password").text("请输入密码");
                    $("#id_edit_password").focus();
                    return false;
                }

                var option = {
                    url: "/auth/login",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        "account": account,
                        "password": password,
                    }),

                    success: function(data) {
                        if (data["errcode"] == 0) {
                            window.location.href = "/";
                        } else if (data["errcode"] == 1) {
                            $("#id_error_account").text("用户名不存在");
                            $("#id_edit_account").focus();
                        } else if (data["errcode"] == 2) {
                            $("#id_error_password").text("密码错误");
                            $("#id_edit_password").focus();
                        } else {
                            console.log("登录失败: {0}".format(data["errcode"]));
                        }
                    },
                };

                $.ajax(option);
                return false;
            });
        });
    </script>
</body>
</html>
